<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video title name here</title>
</head>
<body>
    <main>
        <header>
            <img alt="rokuFlashbackLogo">
            <button> <img alt="kids section"> </button>
            <button> <img alt="searchbar"> </button>
            <!--check to see if its the button that you nned to activate animated css-->
        </header>
        <video></video>
        <h3>Title of current Episode or Movie</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam dolore facilis modi labore quis harum sequi sint debitis maiores quia tenetur alias corporis aspernatur obcaecati earum est, quidem eligendi tempora!</p>
       
        <section id="EpList">
            <!--Build this slide only if the tag TV is attactched to the
            data. -->
        </section>

        <section id="MoreLikethis">
            <!-- Here we'll add movies of a similar genre. -->
        </section>

        <footer> <!-- for mobile the footer will be fixed at the bottom of the screen. Allow for expansion-->
            <ul>
                <li><a href=""><img alt="homeIcon"></a></li>
                <li><a href=""><img alt="browseIcon"></a></li>
                <li><a href=""><img alt="settingsIcon"></a></li>
            </ul>
        </footer>
    </main>
</body>
</html>