<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse</title>
</head>
<body>
    <main>
        <header>
            <img alt="rokuFlashbackLogo">
            <button> <img alt="kids section"> </button>
            <button> <img alt="searchbar"> </button>
            <!--check to see if its the button that you nned to activate animated css-->
        </header>

        <section>
        <h2>BROWSE</h2>
        <ul>
            <li><a href=""><h3>ACTION</h3></a></li>
            <li><a href=""><h3>ADVENTURE</h3></a></li>
            <li><a href=""><h3>THRILLER</h3></a></li>
            <li><a href=""><h3>MYSTERY</h3></a></li>
            <li><a href=""><h3>ROMANCE</h3></a></li>
            <li><a href=""><h3>SCI-FI</h3></a></li>
            <li><a href=""><h3>FANTASY</h3></a></li>
            <li><a href=""><h3>DOCUMENTARY</h3></a></li>

        </ul>
    </section>

        <section>
            <!--Underneath here we'll have the chosen genre movie listing
            appear. Once another genre is clicked the last genre will be 
            set to false and the new chosen genre will take its place.-->
        </section>



        <footer> <!-- for mobile the footer will be fixed at the bottom of the screen. Allow for expansion-->
            <ul>
                <li><a href=""><img alt="homeIcon"></a></li>
                <li><a href=""><img alt="browseIcon"></a></li>
                <li><a href=""><img alt="settingsIcon"></a></li>
            </ul>
        </footer>
    </main>
</body>
</html>