<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="../public/css/main.css" rel="stylesheet">    
    <title>Roku Login Page</title>
</head>
<body>
<main>  
      <img src="images/RokuFlashbackLogo.svg" alt="logo">
    <h4>Login to your RokuFlashback Account</h4>
    <input id="username" type="text">
    <input type="password">
    <input type="submit" value="LOGIN">
</main>
</body>
</html>